.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #6278f7;
    border-radius: 20px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 32px auto;
}

.button:hover {
    color: #95FFD4;
}